body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: rgb(0, 0, 0);
    background-color: white;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2.5em;
}

.Logo{
    margin: auto;
    padding: 5px 0 0 30px;
    display: block;
    height: 70px;
    width: 120px;
}

.nav-bar{
    box-shadow: 0 8px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: 	#101010;
    color: white;
    display: flex;
    justify-content: center;
    list-style: none;
}

li{
    padding: 10px 20px 10px 20px;
}

li:hover{
    color: 	#101010;
    background-color: white;
    transition: ease 0.3s all;
}

.hidden-nav{
    display: none;
}

.sticky-nav{
    position: fixed;
    top: -1%;
}

.active-nav-button{
    color: 	#101010;
    background-color: white;
}

section{
    width: 100%;
    height: 700px;
}

.up-button{
    border: transparent;
    width: 39px;
    height: 35px ;
    background-color: #000000;
    border-radius: 3px;
    position: fixed;
    top: 80%;
    left: 80%;
    z-index: 3;
}

.up-button>img{
    height: 45%;
    width: 100%;
}

.main-container{
    width: 800px;
    height: 500px ;
    margin: auto;
    margin-top: 150px ;
}

.container{
    color: black;
    display: flex;
    border-radius: 3px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-inside-container{
    border-radius: 3px;
    height: 100%;
    width: 60%;
}

.container-text{
    margin-left: 20px;
}

.container-button{
    border: transparent;
    width: 150px;
    height: 35px;
    color: aliceblue;
    background-color: #101010;
    border-radius: 3px;
}

.container-button:hover{
    background-color: rgb(100, 100, 100);
    color: #101010;
}

.container-numb-buttons{
    display: flex;
    margin: 5px ;
}

.numb-button{
    border-radius: 1px;
    height: 25px;
    width: 25px;
    background-color: rgb(220, 220, 220);
    text-align:center ;
    color: #898787;
    margin: 5px;
}

.active-numb-button{
    background-color: #666; color:#ffffff;
}

.contact-logo{
    height:15px ;
    width: 15px;
    margin: 0 15px 0 30px;
}

.row1{
    margin-bottom: -17px;
    background-color: #101010;
    height: 250px;
    color: #f2f2f2;
}
.row2{
    color: lightslategray;
    background-color: #000000;
    height: 60px;
}


.copyrights{
    text-align: center;
    padding-top: 15px;
}

.footer-logo{
    width: 190px;
    height: 120px;
    display: block;
    margin:auto;
    padding-top: 50px;
}





section:nth-of-type(even) .main-container {
    margin-right: auto;
    margin-left: auto;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .main-container::before {
    content: '';
    background: rgba(0, 0, 0, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 1s all;
}

section:nth-of-type(even) .main-container::before {
    content: '';
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 1s all;
}

section:nth-of-type(3n) .main-container::after {
    content: '';
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .main-container::after {
    content: '';
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 1s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .main-container::before {
    opacity: 1;
    animation: rotate 4s linear 0.5s infinite forwards;
}

section.your-active-class .main-container::after {
    opacity: 1;
    animation: rotate 5s linear 0.5s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg),
		            translate(-1em),
		            rotate(0deg);
	}
	to {
		transform: rotate(360deg),
		            translate(-1em) ,
		            rotate(-360deg);
	}
}
@media screen and (max-width: 950px) {
    .main-container{
        width: 600px;
        height: 350px ;
        margin: 150px auto auto auto;
    }
}
@media screen and (max-width: 600px) {
    h1{
    font-size: 25px;
    }

    .main-container{
        width: 350px;
        height: 150px ;
        margin: 150px auto auto auto;
        font-size: 14px;
    }
    .container-button{
        box-sizing: 1px;
        width: 70px;
        height: 15px;
        font-size: 8px;
    }

    .container-text{
        font-size: 9px;
    }

    .container-text>h2{
        font-size: 12px;
    }

    .contact-logo{
        margin: 0 10px;
        width: 7px;
        height: 7px;
    }

    li{
        padding-top: 10px;
        text-align: center;
    }

    .nav-bar{
        padding: 0;
        display: block;
        list-style-type: none;
    }
    .sticky-nav{
        position: fixed;
        top: -1%;
        opacity: 0.9;
        left: 70%;
        width: 100px;
        font-size: 8px;
    }

    .Logo{
        padding-left: 0;
    }
}
@media screen and (max-width: 300px) {
    .main-container{
        width: 270px;
        height: 100px ;
        margin: 150px auto auto auto;
    }
    .container-text{
        font-size: 6px;
    }
}